In [1]:
import pandas as pd

df = pd.read_csv('circulating_market_cap_stock_return_plus_rank_df.csv',index_col=0)

In [2]:
df

,index,code,year,month,date,return,circulating_market_cap,mkt_cap
0,0,000001.XSHE,2005,2,2005-02-28,0.065693,1.0,8.540730e+09
1,1,000002.XSHE,2005,2,2005-02-28,0.000000,1.0,8.956490e+09
2,2,000004.XSHE,2005,2,2005-02-28,0.115044,5.0,2.445300e+08
3,3,000006.XSHE,2005,2,2005-02-28,0.055556,2.0,7.003200e+08
4,4,000007.XSHE,2005,2,2005-02-28,0.097561,4.0,2.983500e+08
...,...,...,...,...,...,...,...,...
391996,3613,688388.XSHG,2020,5,2020-05-28,-0.147754,3.0,3.374020e+09
391997,3614,688389.XSHG,2020,5,2020-05-28,0.263233,5.0,7.318700e+08
391998,3615,688396.XSHG,2020,5,2020-05-28,0.001850,2.0,8.970890e+09
391999,3616,688398.XSHG,2020,5,2020-05-28,0.134982,5.0,8.980400e+08
392000,3617,688399.XSHG,2020,5,2020-05-28,0.440495,5.0,1.606090e+09

In [12]:
def fun(subdf):
    tmp_list = []
    for i in [1,5]:
        tmp_df = subdf[subdf['circulating_market_cap']==i]
        tmp_list += [(tmp_df['return']*tmp_df['mkt_cap']/tmp_df['mkt_cap'].sum()).sum()]
    return tmp_list[1]-tmp_list[0]
SMB_return = df.groupby(['year','month']).apply(fun)
SMB_return

year  month
2005  2        0.026905
      3       -0.056524
      4       -0.109729
      5        0.083045
      6       -0.004473
                 ...
2020  1        0.024322
      2        0.006187
      3        0.052489
      4       -0.049108
      5        0.057587
Length: 184, dtype: float64

In [13]:
SMB_return.to_csv('SMB_factor_portfolio_5x1.csv')

In [20]:
def fun(subdf):
    tmp_list = []
    for i in range(1,6):
        tmp_df = subdf[subdf['circulating_market_cap']==i]
        tmp_list += [(tmp_df['return']*tmp_df['mkt_cap']/tmp_df['mkt_cap'].sum()).sum()]
    return pd.DataFrame(tmp_list,columns=['return'],index=[1,2,3,4,5])
portfolio_return = df.groupby(['year','month']).apply(fun)
portfolio_return.index.set_names('code',level=-1,inplace=True)
portfolio_return

                   return
year month code
2005 2     1     0.085373
           2     0.106170
           3     0.111629
           4     0.111460
           5     0.112278
...                   ...
2020 5     1    -0.006913
           2     0.016585
           3     0.008740
           4     0.024848
           5     0.050674

[920 rows x 1 columns]

In [21]:
portfolio_return.to_csv('size_5groups_portfolio_return.csv')